$primary-color: #f4c27f;
$secondary-color: #ff9a47;
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$primary-text-color: #cf3030;
$secondary-text-color: #000000;
$primary-button-color: #000000;
$secondary-button-color: #ff7553;
