@import './styles/variables.scss';

body{
    background-color: $primary-color;
    background-image: url('assets/images/wavy-pattern.png');
    background-size: 1920px 1300px;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}