<body>
    <header>
        <div class="logo">
            <img src="assets/burger-house-logo.png" alt="Test Image">
            <span class="logo-title"> BurgerHouse </span>
        </div>
        <nav>
            <ul>
                <li><a routerLink = "/shop">Shop</a></li>
                <li><a routerLink = "/about">About</a></li>
                <li><a routerLink = "/contact">Contact</a></li>
                <li><a routerLink = "/cart">Cart</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="banner">
        <h1>Quality Burgers Since '99</h1>
    </section>
    
    <section class="featured">
        <h2>Want a taste?</h2>
        <div class="featured-burgers">
            <div class="burger-item" *ngFor="let burger of burgers">
                <div class="burger-photo">{{ burger.name }}</div>
                <p class="price">{{ burger.price }}</p>
            </div>
        </div>
        <button class="shop-button">Shop all</button>
    </section>
    
    <section class="about">
        <div class="about-photo">PHOTO</div>
        <div class="about-text">
            <h3><i>Get to know us</i></h3>
            <p>Since 1999, BurgerHouse has been flipping juicy patties and 
                stacking up the freshest ingredients. Born in New Jersey, 
                made for burger lovers everywhere! Hungry for more? 
                Click below to dig into our story!</p>
            <button class="learn-button">Learn More</button>
        </div>
    </section>
    
    <section class="contact">
        <div class=" contact-container">
            <div class="contact-text-container">
                <h2>Contact Us</h2>
                <p class="contact-text">Interested in working together? Fill out your info, and we will be in touch!</p>
            </div>
            <form (submit)="onSubmit()">
                <input type="text" placeholder="Name" required>
                <input type="email" placeholder="Email" required>
                <textarea placeholder="Message" name="message" required></textarea>
                <button class="shop-button" type="submit">Submit contact form!</button>
            </form>
        </div>
    </section>
</body>

